.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#toastify {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 16px;
}
#toastify.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
#toastify.success {
  background-color: #60b660;
}
#toastify.error {
  background-color: #d4443f;
}
#toastify {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 16px;
}
#toastify.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
#toastify.success {
  background-color: #60b660;
}
#toastify.error {
  background-color: #d4443f;
}

/* style.css */

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.data-table th,
.data-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.data-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
}

.pagination button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.pagination span {
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Calibri";
  justify-content: center;
  padding: 2rem 5rem;
}

table {
  border-spacing: 0;
  border: 1px solid #d1cccc;
}

tr:last-child td {
  border-bottom: 0;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #d1cccc;
  border-right: 1px solid #d1cccc;
}

th:last-child,
td:last-child {
  border-right: 0;
}

tr:nth-child(odd) {
  background: #f3f3f3;
  color: #000000;
}

tr:nth-child(even) {
  background: #ffffff;
  color: #000000;
}

.pagination {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.page-controller {
  width: 20px;
  height: 17px;
  display: flex;
}

select {
  border: 1px solid #d1cccc;
  border-radius: 0.2rem;
}
